  <div class="card-db-bookings">
    <h2>My Bookings</h2>
    <hr class="h-line" width="auto" align="left">
    <% if current_user.bookings.any? %>
    <% current_user.bookings.each do |booking| %>
    <div class="db-booking-card">
      <div class = "db-booking-img">
        <%= cl_image_tag booking.bike.photos.first.key %>
      </div>
      <div class="db-booking-info">
        <h3 class="card-title"><%= booking.bike.brand %></h3>
        <p class="card-text">Pick up in: <%= booking.bike.location %></p>
        <p class="card-text">$<%= booking.bike.price %></p>
        <p> Booked from: <%= booking.user.username %> </p>
      </div>
    </div>
    <% end %>
    <% else %>
    <div class = "empty-card">
      <h3> Nothing booked yet</h3>
      <%= link_to "Book a bike", bikes_path, class: "btn-empty-card" %>
    </div>
    <% end %>
  </div>
