  <div class="card-db-bookings">
    <h2>My Bookings</h2>
    <hr class="h-line" width="200" align="left">
    <% if current_user.bookings.any? %>
    <% current_user.bookings.each do |booking| %>
    <div class="db-booking-card">
      <div class = "db-booking-img">
        <%= cl_image_tag booking.bike.photos.first.key %>
      </div>
      <div class="db-booking-info">
        <p><%= booking.bike.brand %> </p>
        <p><%= booking.bike.description %> </p>
        <p><%= booking.bike.price %> $/day </p>
        <p> Booked from: <%= booking.user.username %> </p>
      </div>
    </div>
    <% end %>
    <% else %>
    <div class = "empty-card">
      <h3> Nothing booked yet</h3>
      <%= link_to "here you go", bikes_path %>
    </div>
    <% end %>
  </div>
