<div class="container py-1 ">
  <div class="row">
    <div class="px-5 col-md-12 m-3 border-bottom">
      <h1><em>Your Dashboard</em></h1>
    </div>
  </div><div class="container">
  <div class="dashbaord">
    <h1 id="dahsboard-title">Your Dashboard</h1>
    <div class = "info-card">
      <img src="https://images.unsplash.com/photo-1525013066836-c6090f0ad9d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
      <div class= "welcome-card">
        <ul>
        <h2> Hey <%= current_user.first_name.capitalize%>,</h2>
        <br>
        <p> Here's your dashboard <br>
          <br>

          Activity: <strong><%= current_user.bikes.length %></strong> bike(s) rented out and </br>
          <strong><%= current_user.bookings.length %></strong> booking(s).
        </p>
        </ul>
      </div>
    </div>
    <div class="dashboard-flex">
      <%= render "my_bikes" %>
      <%= render "my_bookings" %>
