<div class="container">
  <div class="row">
    <div class="col-xs-12 col-xl-8">
       <div class="row card-show-head">

           <div class="col-6">
             <div class="bike-info p-2">
                <h1><%= @bike.brand %></h1>
             </div>
             <div class="bike-price">
              <h2><%= @bike.price %> $</h2>
             </div>
           </div>
          </div>
         <div class="row card-show-details">
           <div class ="col">
             <div class="bike-traits p-3">
              <h2>My bike skills</h2>
              <p>
                <% if policy(@bike).edit? %>
                <%= link_to "Edit my dirt bike", edit_bike_path(@bike) %>
                <% end %>
              </p>
              <p>
                <% if policy(@bike).destroy? %>
                <%= link_to "Delete my dirt bike", bike_path(@bike),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
                <% end %>
              </p>
            </div>
          </div>
         </div>
      </div>
    <div class="col-xs-12 col-xl-4">
      <div class="form-container">
        <div class="header">
          <div class="header-row">
            <div class="big-bold" id="price" data-amount-cents="<%= @bike.price * 100 %>"><%= @bike.price %>$</div>
            <div class="small-light"> / Day</div>
          </div>
        </div>
  <%= simple_form_for([@bike, @booking]) do |f| %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, disabled: true, html5: true %>
  <%= f.input :price, disabled: true, :as => :hidden, input_html: {value: @bike.price} %>
  <%= f.submit "Book for #{@bike.price}€", id: "submit", class: "btn button" %>
  <% end %>
  </div>
</div>
</div>
</div>
