<%= render 'shared/navbar' %>
<br>
<div class="container">
  <div class="card-bike">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-bike-infos">
      <div>
        <h2> <strong>Brand:</strong> <%= @bike.brand %></h2>
        <h2><strong>Price:</strong> $<%= @bike.price %>/day</h2>
        <br>
        <p><strong>Owner:</strong> <%= @bike.user.first_name %></p>
        <p><strong>Description:</strong> <%= @bike.description %></p>
      </div>
      <%= link_to "Book Now!", new_bike_booking_path(@bike), class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
